.fotos{
    border-radius: 100px;
    width: 150px;
    height: 130px;
}
.remove{
    width:80px;height: 30px;padding:60px 0px;
    
}
.colorB{
    background-color: red;color:white;border-radius: 5px;
}
.mid{
    padding:20px 0px
}
.message{
    color:white;background-color: grey;border-radius: 5px;
}

.allborder  {
    border:1px rgb(178, 171, 171) solid;
    }
    .allborder {
    
        padding:0px 0px;
    }
    .allborder p{
        margin: 10px 10px;
    }
    .begin{
        color:white;background-color: rgb(12, 12, 100);;
    }
    .color{
        color:azure;
    }
    .grey{
        color:grey;
    }
    .button{
        background-color: rgb(11, 11, 97);color:white;
    }
    .text{
        font-size: 20px;
    }
    body{
        font-family:Noto Sans, sans-serif;
    }
    